<div class="d-flex">
  <div class="bg-primary text-white p-3" style="width: 250px; height: 100vh;">
    <h5 class="mb-4 text-center">SkillSync Admin</h5>
    <ul class="nav flex-column">
      <li class="nav-item mb-2">
        <a routerLink="/admin/dashboard/jobs" routerLinkActive="active" class="nav-link text-white">Manage Jobs</a>
      </li>
      <li class="nav-item mb-2">
        <a routerLink="/admin/dashboard/candidates" routerLinkActive="active" class="nav-link text-white">Manage
          Candidates</a>
      </li>
      <li class="nav-item">
        <a (click)="logout()" class="nav-link text-white">Logout</a>
      </li>
    </ul>
  </div>

  <div class="flex-grow-1 p-4 bg-light">
    <router-outlet></router-outlet>
  </div>
</div>